
#Menu{;
     position: fixed;
     top: 0;
     left: 0;}


#clickstart{

     display: flex;
      position: fixed ;
     
}

video{
     display: flex;
	 position: fixed;
     top: 0;
     left: 0;
}

