#sur_le_pont{
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#haut{
    position: relative;
    position: fixed;
    top: 75%;
    left: 45%;
}

#gauche{
    position: relative;
    position: fixed;
    top: 45%;
    left: 5%;
}
